# Dependencies
node_modules/

# Builds
dist/
build/
.turbo/
.next/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# Editor
.idea/
.vscode/
.DS_Store

# Runtime
.tmp/
*.tsbuildinfo

# Docker
*.pid
*.log
